<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - Cardio project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

  </head>

<body>
  <div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Home</a> 
      <a class="navbar-brand" href="sampledata">Sample data</a>
      <a class="navbar-brand" href="info">Information</a>
      <a class="navbar-brand" href="model">machine learning model</a>
    </nav>  
      <div class="jumbotron">
          <h1 class="display-3">Welcome - Cardio Project</h1>
          <p>Using machine learning models to predict cardiovascular disease</p>
      </div>
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4">
                Introducing our team members:
                <li>Maryam Atif</li>
                <li>Deepanshu Dhindsa</li>
                <li>Haikun Qiu</li>
                <li>Ziye Zhang</li>
              </div>
              <div class="col-md-8">
                  <p>
                    We are four students in the University of Toronto Data Analytics bootcamp program. 
                    For our final project, we have decided to build a machine learning model that predicts whether a person has cardiovascular disease based on 11 different caracteristics. 
                    blablabla...
                  </p>
              </div>
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>